
.support-mail{
    display: block;
}

.spacer{
    display: block;
}

.flag-wrapper{
    margin-left: auto;
    margin-right: 17.6px;
}

.mexico-flag{
    margin-left: auto;
    margin-right: 17.6px;
}

.thumbnail-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.thumbnail{
    width: 92px;
    height: 92px;
    background-size: 92px 92px;
}

.thumbnail:last-child{
    margin-right: 0px;
}