@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    color: #323232;
    background-color: whitesmoke;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
    max-width: 100%;
}



/*---------------------Header-------------------------*/


.header-main{
    height: 80px;
    background-color: white;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px 0 8px;
    display: flex;
    align-items: center;
}

.brand-logo--wrapper{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 17.6px;
    margin-right: 20px;
    flex-wrap: nowrap;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.flag--wrapper{
    
    display: flex;
    align-items: center;
}

.mexico-flag{
    background-image: url(https://checkout.sleepdreamdeep.com/suteradreamdeepfbshop4str/img/flag_sprite.png);
    background-position: 0 -7896px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 56px;
    width: 56px;

    margin-left: 17.6px;
    margin-right: 17.6px;
    display: flex;
    align-items: center;
    align-self: flex-end;
}


.support-mail{
    max-width: 100%;
}

.support-mail img {
    height: 56px;
}

.ssl-img{
    display: none;
}

.support-mail{
    display: none;
}

.spacer{
    display: none;
}

/*------------------------Americans are using & carousel---------------------*/

.americans--dotted-line{
    margin: 10px;
    background-color: white;
    border-color: rgb(50, 50, 50);
    border-style: dashed;
}

.carousel {
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    width: 100%;
    max-width: 400px;
    min-height: 500px;
    max-height: 100%;

    margin-right: auto;
    margin-left: auto;
  }
  
  
  .carousel--slider-wrapper{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 40px;
  }

.slide-move{
    display: none;
}

.slide-move:first-child{
    display:block
}

  .carousel--slide {
    width: 100%;
    height: auto;
    
  }

.carousel--btn-prev,
.carousel--btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  margin-top: -40px;

  fill: none;
  stroke: currentcolor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;

  color: #fff;
  transition: all .2s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: drop-shadow(0 2px 2px #1a1a1a);

}

.carousel--btn__size{
    width: 56px;
    height: 175px;
    padding: 50px 10px;
}

.carousel--btn-prev {
  left: 0;
}

.carousel--btn-next {
  right: 0;
}

.thumbnail-wrapper{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-align: center;
    transition: transform .45s ease-out;
    white-space: nowrap;
}

.thumbnail{
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
    margin-right: 8px;
}

.thumbnail-1{
    background-image: url(https://d3hlrrbqydii6y.cloudfront.net/img/b8389f397102c63af7d868c2356f5ca1.jpeg);
}
.thumbnail-2{
    background-image: url(https://d3hlrrbqydii6y.cloudfront.net/img/0b44e16c0b8ef031c3caebc8192b1021.jpeg);
}
.thumbnail-3{
    background-image: url(https://d3hlrrbqydii6y.cloudfront.net/img/099c11c56e0caeefe74478538af79063.jpeg);
}
.thumbnail-4{
    background-image: url(https://d3hlrrbqydii6y.cloudfront.net/img/dc1f0f96644384b0ddeac69195499ca1.jpeg);
}


.americans{
    display: block;
    width: calc(90% - 35.2px);
    margin: 0 auto;

}

h1{
    /* display: block; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    font-size: 28px;
    margin-top: 0;
    line-height: 130%;
}