
.support-mail{
    display: block;
}

.spacer{
    display: block;
}

.flag-wrapper{
    margin-left: auto;
    margin-right: 17.6px;
}

.mexico-flag{
    margin-left: auto;
    margin-right: 17.6px;
}